
<h1>Edit The Car Model {{carModel.model}}</h1>

<form (ngSubmit)="onSubmit(carModelForm)" #carModelForm="ngForm">
	<div class="form-group">
		<label for="model">Model</label>
		<input type="text" name="model" [(ngModel)]="carModel.model" #trackName="ngModel" required class="form-control" id="model">
		<small class="alert" *ngIf="!trackName.valid && trackName.touched">The name is required</small>
	</div>

	<div class="form-group">
		<label for="price">Price</label>
		<input type="text" name="price" [(ngModel)]="carModel.price" #trackPrice="ngModel" required class="form-control" id="price">
	</div>

	<div class="form-group">
		<label for="image">Image</label>
		<input type="file" name="image" [(ngModel)]="image" (change)="fileChange($event)" accept=".png, .jpg" class="form-control" id="image">
		<br />
		<img [src]="'http://localhost/'+imageDisplay" *ngIf="imageDisplay.length > 0" height="150" width="auto" class="img-thumbnail">
	</div>

	<input type="submit" value="Save" [disabled]="!carModelForm.form.valid" class="btn btn-primary">
</form>

